<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>purchase</display-name>
  <servlet>
    <servlet-name>UserCheck</servlet-name>
    <servlet-class>data.UserCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPrice</servlet-name>
    <servlet-class>servlet.GetPrice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoByRequestID</servlet-name>
    <servlet-class>servlet.GetInfoByRequestID</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddRequest</servlet-name>
    <servlet-class>servlet.AddRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddExport</servlet-name>
    <servlet-class>servlet.AddExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoByOrderID</servlet-name>
    <servlet-class>servlet.GetInfoByOrderID</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddImport</servlet-name>
    <servlet-class>servlet.AddImport</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UpdateRequest</servlet-name>
    <servlet-class>servlet.UpdateRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoByDemandID</servlet-name>
    <servlet-class>servlet.GetInfoByDemandID</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuditorRequest</servlet-name>
    <servlet-class>servlet.AuditorRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoBySupplierID</servlet-name>
    <servlet-class>servlet.GetInfoBySupplierID</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoByItemID</servlet-name>
    <servlet-class>servlet.GetInfoByItemID</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSupplier</servlet-name>
    <servlet-class>servlet.AddSupplier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSupplier</servlet-name>
    <servlet-class>servlet.DeleteSupplier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSupplier</servlet-name>
    <servlet-class>servlet.UpdateSupplier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSupplierItem</servlet-name>
    <servlet-class>servlet.AddSupplierItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSupplierItem</servlet-name>
    <servlet-class>servlet.DeleteSupplierItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSupplierItem</servlet-name>
    <servlet-class>servlet.UpdateSupplierItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoByItemName</servlet-name>
    <servlet-class>servlet.GetInfoByItemName</servlet-class>
  </servlet>










  
  <servlet-mapping>
    <servlet-name>UserCheck</servlet-name>
    <url-pattern>/UserCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPrice</servlet-name>
    <url-pattern>/GetPrice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoByRequestID</servlet-name>
    <url-pattern>/GetInfoByRequestID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRequest</servlet-name>
    <url-pattern>/AddRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddExport</servlet-name>
    <url-pattern>/AddExport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoByOrderID</servlet-name>
    <url-pattern>/GetInfoByOrderID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddImport</servlet-name>
    <url-pattern>/AddImport</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>UpdateRequest</servlet-name>
    <url-pattern>/UpdateRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoByDemandID</servlet-name>
    <url-pattern>/GetInfoByDemandID</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AuditorRequest</servlet-name>
    <url-pattern>/AuditorRequest</url-pattern>
   </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoBySupplierID</servlet-name>
    <url-pattern>/GetInfoBySupplierID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoByItemID</servlet-name>
    <url-pattern>/GetInfoByItemID</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AddSupplier</servlet-name>
    <url-pattern>/AddSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSupplier</servlet-name>
    <url-pattern>/DeleteSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSupplier</servlet-name>
    <url-pattern>/UpdateSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSupplierItem</servlet-name>
    <url-pattern>/AddSupplierItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSupplierItem</servlet-name>
    <url-pattern>/DeleteSupplierItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSupplierItem</servlet-name>
    <url-pattern>/UpdateSupplierItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoByItemName</servlet-name>
    <url-pattern>/GetInfoByItemName</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
 
</web-app>