body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background:#f4f4f4 url(../images/bg.gif) repeat top left;
}
.clear{
	clear:both;
}
/* Header */
header#header {
	height: 55px;
	width: 100%;
	background: #222222 url(../images/header_bg.png) repeat-x;
}


header#header h1.site_title, header#header h2.section_title {
	float: left;
	margin: 0;
	font-size: 22px;
	display: block;
	width: 16%;
	height: 55px;
	font-weight: normal;
	text-align: left;
	text-indent: 1.8%;
	line-height: 55px;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

header#header h2.section_title {
	text-align: center;
	text-indent: 4.5%;
	width: 75%;
	background: url(../images/header_shadow.png) no-repeat left top;
}

.btn_help {
	float: left;
	width: 9%;
}

.btn_help a {
	display: block;
	margin-top: 12px;
	width: 91px;
	height: 27px;
	background: url(../images/btn_help.png) no-repeat;
	text-align: center;
	line-height: 29px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 -1px 0 #000;
}

.btn_help a:hover {
	background-position: 0 -27px;
	text-decoration: none;
}

/* Secondary Header Bar */
/* User */
section#second_bar {
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/second_bar.png) repeat-x;
}

section#second_bar .user {
	float: left;
	width: 16%;
	height: 38px;
}

.user p {
	margin: 0;
	padding: 0;
	color: #666666;
	font-weight: bold;
	display: block;
	float: left;
	width: 85%;
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
	text-shadow: 0 1px 0 #fff;
	background: url(../images/icn_user.png) no-repeat center left;
	margin-left: 6%;
}

.user a {
	text-decoration: none;
	color: #666666
}

.user a:hover {
	color: #77BACE;
	text-decoration: none;
}

/* Web place */
section#second_bar .web_palce {
	float: left;
	width: 84%;
	background: url(../images/second_bar_shadow.png) no-repeat left top;
	height: 38px;
}

article.place {
	float: left;
	padding: 0 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	height: 23px;
	margin: 4px 3%;
}

.place a {
	display: inline-block;
	float: left;
	height: 24px;
	line-height: 23px;
	/*字体样式*/
	color: #9E9E9E;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}

.place a.current {
	color: #44474F;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
}

.place_driver {
	display: inline-block;
	width: 12px;
	height: 24px;
	background: url(../images/place_divider.png) no-repeat;
	float: left;
	margin: 0 5px;
}

/*side_bar*/
aside#side_bar {
	width: 16%;
	background: #E0E0E3 url(../images/sidebar.png) repeat;
	float: left;
	min-height: 710px;
	margin-top: -4px;
}

/*alt*/
aside #alt{
	color: #1F1F20;
	text-shadow: 0 1px 0 #fff;
	font-size: 1.4em;
	text-align: center;
	width: 50%;
	margin: 20px 25% ;
	display: block;
	background: url(../images/select.png) no-repeat center left;

}

#sidebar hr {
	border: none;
	outline: none;
	background: url(../images/sidebar_divider.png) repeat-x;
	display: block;
	width: 100%;
	height: 2px;
}

/*function*/
aside .function{
	margin: 40px;
}

.function div{
	margin: 15px;
	line-height: 25px;
}

.function a{
	color: #44474F;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	line-height: 25px;
	text-decoration: none;
}

.function a:hover{
	text-decoration: none;
}

#notify a{
	padding: 0 0 0 25px;
	background: url(../images/notice.png) no-repeat center left;
}

#request a{
	padding: 0 0 0 25px;
	background: url(../images/request.png) no-repeat center left;
}

#query a{
	padding: 0 0 0 25px;
	background: url(../images/query.png) no-repeat center left;
}

#exit a{
	padding: 0 0 0 25px;
	background: url(../images/exit.png) no-repeat center left;
}

/*footer*/
#side_bar footer p {
	color: #666666;
	padding-left: 6%;
	text-shadow: 0 1px 0 #fff;
	margin: 10px 0 0 0;
}

#side_bar footer a {
	color: #666666;
	text-decoration: none;
}

#side_bar footer a:hover {
	text-decoration: underline;
}

#side_bar footer {
	margin-top:90%; 
}

/*main*/
section #main{
	width: 84%
}

#main_div{
	margin: 5px;
	float: left;
	width: 54%;
	min-height: 700px;
	border: 1px solid #9BA0AF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
}
input[type=submit],input[type=reset]{
	width: 100px;
}
.form h3{
	text-align: center; 
}

.form{
	/* border:1px black dotted ; */
	position: relative;
	margin: 0px;
	padding: 0px;
}
#side_div1{
	margin: 5px;
	float: left;
	width: 25%;
	height: 220px;
	background-color: black;
	border: 1px solid #9BA0AF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
}
.noticeCon{
	font-size: 1.2em ;
	height: 2em ;
	margin: 5px;
	padding: 5px;
}

embed{
	padding:5px;
}

#side_div2{
	margin: 5px;
	float: left;
	width: 25%;
	height: 470px;
	border: 1px solid #9BA0AF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
}



#main_div header {
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/second_bar.png) repeat-x;
	-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}

#main_div header h3 {
	display: block;
	/*border: 1px solid black;*/
	float: left;
	margin-top: 0px; 
    padding-left: 10px;
}

#side_div1 header{
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/second_bar.png) repeat-x;
	-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}

#side_div1 header h3 {
	display: block;
	float: left;
	margin-top: 0px; 
    padding-left: 10px;
}

#side_div2 header{
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/second_bar.png) repeat-x;
	-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}

#side_div2 header h3 {
	display: block;
	float: left;
	margin-top: 0px; 
    padding-left: 10px;
}

