
#side_div1 table{border-collapse:separate;border:1px solid #9DABCE;border-width:0px 0px 1px 1px;margin:auto;font-size:20px;}
#side_div1 td, #side_div1 th{width:60px;height:45px;text-align:center;vertical-align:middle;background:url(../images/cells.png);color:#444;position:relative;}
#side_div1 th{height:30px;font-weight:bold;font-size:14px;}
#side_div1 td:hover, #side_div1 th:hover{background-position:0px -81px;color:#222;}
#side_div1 td.date_has_event{background-position:162px 0px;color:white;}
#side_div1 td.date_has_event:hover{background-position:162px -81px;}
#side_div1 td.padding{background:url(../images/calpad.jpg);}
#side_div1 td.today{background-position:81px 0px;color:white;}
#side_div1 td.today:hover{background-position:81px -81px;}
#side_div1 .events{position:relative;}
#side_div1 .events ul{text-align:left;position:absolute;display:none;z-index:1000;padding:15px;background:#E7ECF2 url(../images/popup.png) no-repeat;color:white;border:1px solid white;font-size:15px;width:200px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;-border-radius:3px;list-style:none;color:#444444;-webkit-box-shadow:0px 8px 8px #333;}
#side_div1 .events li{padding-bottom:5px;}
#side_div1 .events li span{display:block;font-size:12px;text-align:justify;color:#555;}
#side_div1 .events li span.title{font-weight:bold;color:#222;}